<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="banner">
            <!-- <article>
                <img src="../public/images/logo/forkio.png" alt="forkio logo">
            </article>
            <article>
                <button class="rounded-button bg-violet">Buy Now</button>
            </article>
            <article>
                <img src="../public/images/icons/sandwich.png" alt="sandwich icon">
            </article> -->
        </section>
        <section class="main-header-section">
            <div class="d-flex flex-wrap justify-content-around">
                <article>
                    <img src="../public/images/logo/forkio.png" alt="forkio logo">
                </article>
                <article>
                    <button class="rounded-button bg-violet">Buy Now</button>
                </article>
                <article>
                    <img src="../public/images/icons/sandwich.png" alt="sandwich icon">
                </article>
            </div>
            <div class="bg-transparent-dark central-block">
                <article class="text-center">
                    <p class="font-weight-bold text-white text-header">Fork App</p>
                    <p class="text-header-description">A Real Gamechanger In The World Of Web-Development</p>
                    <p class="text-header-description-gray text-uppercase">v. 2.8 For Mac and Windows</p>
                </article>
            </div>
        </section>
        <section>
            <button class="rounded-button bg-violet w-97-5 download-for-free font-size-1rem">Download For Free Now</button>
            <div class="text-header-description-gray text-uppercase text-center">Unlimited 30-Days Trial Period</div>
        </section>
    </header>
    <main>
        <section class="introduction">
            <article>
                <p class="h0 text-center text-uppercase">Revolutionary editor</p>
                <p class="main-text">
                    Aenean cursus imperdiet nisl id fermentum. 
                    Aliquam pharetra dui laoreet vulputate dignissim. 
                    Sed id metus id quam auctor molestie eget ut augue.
                </p>
            </article>
            <article class="d-flex flex-nowrap justify-content-center">
                <div class="git-elements">
                    <span class="git-icon bg-gray">
                        <i class="fas fa-eye"></i>
                        Watch
                    </span>
                    <span class="frequency-of-action">1,397</span>
                </div>
                <div class="git-elements">
                    <span class="git-icon bg-gray">
                        <i class="fas fa-star"></i>
                        Star
                    </span>
                    <span class="frequency-of-action">21,038</span>
                </div>
                <div class="git-elements">
                    <span class="git-icon bg-gray">
                        <i class="fas fa-code-branch"></i>
                        Fork
                    </span>
                    <span class="frequency-of-action">4,391</span>
                </div>
            </article>
        </section>
        <section class="services">
            <article>
                <p class="h0 text-center">
                    &#60;Here is what you get&#62;
                </p>
            </article>
            <article class="d-flex flex-wrap justify-content-around">
                <!-- Newspaper -->
                <div class="flex-item">
                    <div class="img-block">
                        <img src="../public/images/icons/newspaper.png" alt="newspaper icon">
                    </div>
                    <div class="text-block">
                        <h4>Creatred to Make The Web Better</h4>
                        <p>
                            Aenean cursus imperdiet nisl id fermentum. 
                            Aliquam pharetra dui laoreet vulputate dignissim. 
                            Sed id metus id quam auctor molestie eget ut augue.
                        </p>
                    </div>
                </div>
                <!-- Digital panel -->
                <div class="flex-item">
                    <div class="img-block">
                        <img src="../public/images/icons/digital-panel.png" alt="digital panel icon">
                    </div>
                    <div class="text-block">
                        <h4>Incredibly Powerful Tool</h4>
                        <p>
                            Maecenas eu dictum felis, a dignissim nibh. 
                            Mauris rhoncus felis odio, ut volutpat massa placerat ac. 
                            Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. 
                        </p>
                    </div>
                </div>
                <!-- Flask -->
                <div class="flex-item">
                    <div class="img-block">
                        <img src="../public/images/icons/flask.png" alt="flask">
                    </div>
                    <div class="text-block">
                        <h4>Experimental Stuff</h4>
                        <p>
                            Maecenas eu dictum felis, a dignissim nibh. 
                            Mauris rhoncus felis odio, ut volutpat massa placerat ac. 
                            Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. 
                        </p>
                    </div>
                </div>
                <!-- Timer -->
                <div class="flex-item">
                    <div class="img-block">
                        <img src="../public/images/icons/timer.png" alt="timer">
                    </div>
                    <div class="text-block">
                        <h4>Created to Make The Web Better</h4>
                        <p>
                            Maecenas eu dictum felis, a dignissim nibh. 
                            Mauris rhoncus felis odio, ut volutpat massa placerat ac. 
                            Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. 
                        </p>
                    </div>
                </div>
            </article>
            <article class="code-image">
                <img src="../public/images/layers/code_layer.png" alt="code writting on laptop">
            </article>
        </section>
        <section class="about-author">
            <article class="author-info d-flex flex-wrap justify-content-center">
                <div class="user-logo">
                    <img src="../public/images/logo/userpic.png" alt="Dr Strange">
                </div>
                <div class="user-text-second">
                    <h2>Doctor Strange</h2>
                    <p class="text-second social-username">@DoctorS</p>
                </div>
            </article>
            <article class="carousel">
                <p class="carousel-item">
                    @Pixelbuddha Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Rem unde maiores sapiente culpa quisquam dolore tempore! 
                    Inventore explicabo velit veniam illum vel voluptatum dicta dolor libero aut non? 
                    Optio at vero nobis dolorum quam maxime quo corporis doloremque adipisci esse, placeat numquam, voluptates, 
                    blanditiis omnis quod incidunt sit eligendi cum?
                </p>
                <p class="text-second font-weight-bold text-center post-time">2 hours ago</p>
                <span class="control-right">
                    <i class="fas fa-angle-right"></i>
                </span>
                <span class="control-left">
                        <i class="fas fa-angle-left"></i>
                </span>
            </article>
            <article class="subscribe-block">
                <!-- GitHub -->
                <div class="item">
                    <div class="subscribe-button bg-github">
                        <div class="d-flex flex-nowrap">
                            <p class="icon">
                                <i class="fab fa-github"></i>
                            </p>
                            <button class="button">GitHub</button>
                        </div>
                    </div>
                    <div>
                        <p class="amount-of-subscribers">7 352 Followers</p>
                    </div>
                </div>
                <!-- Twitter -->
                <div class="item">
                    <div class="subscribe-button bg-twitter">
                        <div class="d-flex flex-nowrap">
                            <p class="icon">
                                <i class="fab fa-twitter"></i>
                            </p>
                            <button class="button">Twitter</button>
                        </div>
                    </div>
                    <div>
                        <p class="amount-of-subscribers">136 312 Followers</p>
                    </div>
                </div>
                <!--  -->
                <div class="item">
                        <div class="subscribe-button bg-facebook">
                            <div class="d-flex flex-nowrap">
                                <p class="icon">
                                    <i class="fab fa-facebook-f"></i>
                                </p>
                                <button class="button">Facebook</button>
                            </div>
                        </div>
                        <div>
                            <p class="amount-of-subscribers">218 092 Followers</p>
                        </div>
                    </div>
            </article>
        </section>
        <section class="about-fork">
            <article>
                <p class="h0-white">Peolpe Are Talking About Fork</p>
            </article>
            <article class="d-flex flex-wrap justify-content-around article-about-fork">
                <div class="flex-item">
                    <div class="img-block">
                        <img src="../public/images/logo/smashing.png" alt="smashing logo">
                    </div>
                    <div class="text-block">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Fugiat impedit iusto, consequatur perferendis praesentium rerum corporis 
                            dignissimos debitis aliquid temporibus sit quasi autem repellendus. 
                            Vitae natus ea molestias minus culpa.
                        </p>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="img-block">
                        <img src="../public/images/logo/codrop.png" alt="codrop logo">
                    </div>
                    <div class="text-block">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Fugiat impedit iusto, consequatur perferendis praesentium rerum corporis 
                            dignissimos debitis aliquid temporibus sit quasi autem repellendus. 
                            Vitae natus ea molestias minus culpa.
                        </p>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="img-block">
                        <img src="../public/images/logo/w_logo.png" alt="w logo">
                    </div>
                    <div class="text-block">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Fugiat impedit iusto, consequatur perferendis praesentium rerum corporis 
                            dignissimos debitis aliquid temporibus sit quasi autem repellendus. 
                            Vitae natus ea molestias minus culpa.
                        </p>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="img-block">
                        <img src="../public/images/icons/1.png" alt="logo">
                        <span class="font-weight-bold text-orange pixel-buddha-text-icon">Pixel Buddha</span>
                    </div>
                    <div class="text-block">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Fugiat impedit iusto, consequatur perferendis praesentium rerum corporis 
                            dignissimos debitis aliquid temporibus sit quasi autem repellendus. 
                            Vitae natus ea molestias minus culpa.
                        </p>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="img-block">
                        <img src="../public/images/logo/creative_blog.png" alt="creative blog">
                    </div>
                    <div class="text-block">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Fugiat impedit iusto, consequatur perferendis praesentium rerum corporis 
                            dignissimos debitis aliquid temporibus sit quasi autem repellendus. 
                            Vitae natus ea molestias minus culpa.
                        </p>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="img-block">
                        <img src="../public/images/logo/tnw_logo.png" alt="tnw logo">
                    </div>
                    <div class="text-block">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Fugiat impedit iusto, consequatur perferendis praesentium rerum corporis 
                            dignissimos debitis aliquid temporibus sit quasi autem repellendus. 
                            Vitae natus ea molestias minus culpa.        
                        </p>
                    </div>
                </div>
            </article>
            <hr class="w-97-5 thin">
            <article class="fork-pricing">
                <div>
                    <h2 class="h0-white">Fork Subscription Pricing</h2>
                </div>
                <div class="d-flex flex-wrap justify-content-around">
                    <!-- Students -->
                    <div class="flex-item">
                        <div class="header text-uppercase">
                            <h2>Students</h2>
                        </div>
                        <div class="main">
                            <div class="price">
                                <p class="price-number">$29</p>
                                <p class="text-uppercase">per month</p>
                            </div>
                            <hr class="w-50 thin">
                            <div class="conditions text-white">
                                <ul>
                                    <li>Personal License</li>
                                </ul>
                            </div>
                            <div class="button text-uppercase">
                                <button>purchase</button>
                            </div>
                        </div>
                    </div>
                    <!-- Professional -->
                    <div class="flex-item">
                            <div class="header text-uppercase">
                                <h2>Professional</h2>
                            </div>
                            <div class="main">
                                <div class="price">
                                    <p class="price-number">$59</p>
                                    <p class="text-uppercase">per month</p>
                                </div>
                                <hr class="w-50 thin">
                                <div class="conditions text-white">
                                    <ul>
                                        <li>Personal License</li>
                                        <li>Email support</li>
                                    </ul>
                                </div>
                                <div class="button text-uppercase">
                                    <button>purchase</button>
                                </div>
                            </div>
                    </div>
                    <!-- Agency -->
                    <div class="flex-item">
                        <div class="header text-uppercase">Agency</div>
                        <div class="main">
                            <div class="price">
                                <p class="price-number">$99</p>
                                <p class="text-uppercase">per month</p>
                            </div>
                            <hr class="w-50 thin">
                            <div class="conditions text-white">
                                <ul>
                                    <li>1-12 Team Members</li>
                                    <li>Phone support</li>
                                </ul>
                            </div>
                            <div class="button text-uppercase">
                                <button>purchase</button>
                            </div>
                        </div>
                    </div>
                    <!-- Enterprise -->
                    <div class="flex-item">
                        <div class="header text-uppercase">
                            <h2>Enterprise</h2>
                        </div>
                        <div class="main">
                            <div class="price">
                                <p class="price-number">$159</p>
                                <p class="text-uppercase">per month</p>
                            </div>
                            <hr class="w-50 thin">
                            <div class="conditions text-white">
                                <ul>
                                    <li>Unlimited Team Members</li>
                                    <li>24/7 Phone support</li>
                                </ul>
                            </div>
                            <div class="button text-uppercase">
                                <button>purchase</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="term-of-use">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Cum maiores minus voluptatem laboriosam maxime! 
                    Dignissimos molestias culpa aliquid sapiente, 
                    temporibus numquam perspiciatis facilis dicta laboriosam vel 
                    perferendis velit nam saepe libero at vitae quibusdam cumque minima 
                    accusantium totam praesentium! Ea natus officia aliquam amet 
                    hic ab fugiat repellendus possimus sunt?
                </p>
            </article>
        </section>
        <section class="subscribe-form">
            <h2 class="h0-black">Subscribe To Stay In Touch</h2>
            <form action="#" method="post">
                <input type="email" name="email" id="email" placeholder="Email">
                <button type="submit" class="text-uppercase">subscribe</button>
            </form>
        </section>
        <section class="product-info">
            <article class="product-info-block">
                <div class="sub-article">
                    <h2 class="h0-gray">New In Release 2.8</h2>
                    <div>
                        <h4 class="second-header-black">
                            Fully available: Live Preview Support for Multiple Browsers
                        </h4>
                        <p class="text-second main-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Illo magni maxime consectetur expedita, debitis minus eaque 
                            ipsum alias molestias quis, eius incidunt amet. 
                            Ducimus doloribus totam quia quidem deleniti. Quaerat.
                        </p>
                    </div>
                    <div>
                        <h4 class="second-header-black">
                            Improved Support for Typing
                        </h4>
                        <p class="text-second main-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Illo magni maxime consectetur expedita, debitis minus eaque.
                        </p>
                    </div>
                    <div>
                        <h4 class="second-header-black">
                            Improved Stability
                        </h4>
                        <p class="text-second main-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Illo magni maxime consectetur expedita, debitis minus eaque 
                            ipsum alias molestias quis, eius incidunt amet.
                        </p>
                    </div>
                    <div>
                        <button>
                            <a href="#">Go to Released Log</a>
                        </button>
                    </div>
                </div>
                <div class="sub-article">
                    <p class="h0-gray">Popular Extensions</p>
                    <div>
                        <article>
                            <h4 class="second-header-violet">Custom Themes 1.1</h4>
                            <p class="text-second main-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Harum, molestias deserunt provident vitae vero quasi. 
                                Voluptas explicabo sapiente ipsum obcaecati?
                            </p>
                        </article>
                        <article>
                            <h4 class="second-header-violet">Filter Forge</h4>
                            <p class="text-second main-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Harum, molestias deserunt provident vitae vero quasi. 
                                Voluptas explicabo sapiente ipsum obcaecati?
                            </p>
                        </article>
                        <article>
                            <h4 class="second-header-violet">WebZap</h4>
                            <p class="text-second main-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                Distinctio dignissimos ex eum adipisci laboriosam accusantium.
                            </p>
                        </article>
                        <article>
                            <h4 class="second-header-violet">Renamy</h4>
                            <p class="text-second main-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, dolore.
                            </p>
                        </article>
                        <article>
                            <button>
                                <a href="#">Go to Marketplace</a>
                            </button>
                        </article>
                    </div>
                </div>
                <div class="sub-article">
                    <p class="h0-gray">New From the Blog</p>
                    <div>
                        <article class="line">
                            <h4 class="text-violet">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                            <p class="text-second">February 18, 2015</p>
                        </article>
                        <article class="line">
                            <h4 class="text-violet">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                            <p class="text-second">February 12, 2015</p>
                        </article>
                        <article class="line">
                            <h4 class="text-violet">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                            <p class="text-second">February 6, 2015</p>
                        </article>
                        <article class="line">
                            <h4 class="text-violet">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                            <p class="text-second">February 2, 2015</p>
                        </article>
                        <article class="line">
                            <h4 class="text-violet">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                            <p class="text-second">February 23, 2015</p>
                        </article>
                        <article class="line">
                            <button class="text-uppercase">
                                <a href="#">Go to Blog</a>
                            </button>
                        </article>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <hr class="w-97-5 light-bold">
        <section>
            <article>
                <img src="../public/images/logo/forkio.png" alt="forkio icon">
            </article>
            <article class="text-second">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Maxime perspiciatis quos animi ut, nesciunt temporibus.
                </p>
            </article>
        </section>
        <section>
            <nav class="nav">
                <ul>
                    <li class="text-black list-header">Navigation</li>
                    <li>Home</li>
                    <li>Overview</li>
                    <li>About</li>
                    <li>Buying Optins</li>
                    <li>Support</li>
                </ul>
            </nav>
        </section>
        <section class="author-info">
            <article class="schedule">
                <p class="phone">347 567 78 90</p>
                <p class="text-second text-uppercase">available at 12pm-18pm</p>
            </article>
            <article class="adress">
                <h3 class="article-header">New York, NY</h3>
                <div class="text-second">
                    <p>560 Judah St & 15th Ave, Apt 5</p>
                    <p>San Francisco, CA, 230903</p>
                </div>
            </article>
            <article class="info">
                <h3 class="article-header">Info</h3>
                <p class="text-second">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Pariatur mollitia quae dignissimos quidem ratione, commodi 
                    optio aliquid placeat sint alias laborum necessitatibus 
                    voluptatibus aut at a suscipit repudiandae ex quasi.
                </p>
            </article>
        </section>
    </footer>
</body>
</html>